@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
  }

  body {
    width: 100vw;
    height: 100vw;
    background-color: var(--body-bg-color);
  }

  main {
    width: 50%;
    height: 100vh;
    padding: 36px 0 0 25px;
    position: fixed;
    z-index: 1;
    background-color: var(--body-bg-color);
  }

.logo{
    width: 100%;

    margin: 15px 0 0 0;
}

.logo img {
    width: 389px;
    height: 94px;
}

div.info{
    margin: 15% 0 0 0;
}

h1{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    color: var(--title-color);
}

h2{
    font-size: 18px;
    font-weight: bold;
    font-family: 'League  Spartan', sans-serif;
    color: var(--text-color);
    margin: 15px 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'League  Spartan', sans-serif;
    color: var(--text-color);
}

form{
    color: var(--form-color);
    margin: 10% 0 15% 0;
}

div.email{
    display: flex;
    margin-top: 15px;
    position: fixed;
}

form input{
    width: 800px;
    height: 48px;
    padding-left: 10px;
    border: none;
    border-left: solid 4px var(--title-color);
    box-shadow: 50px 12px 15px #0000009f;
}

button{
    height: 45px;
    width: 45px;
    border:none;
    background-color: var(--bg-button-color);
}

.link {
    margin-top: 50px;
    margin-left: 36px;
  }
  
  .link a {
    text-decoration: none;
    color: var(--bg-button-color);
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 1.18rem;
    display: flex;
    align-items: center;
  }


div.background{
    width: 100%;
    height: 100%;

    left: 20%;
    position: fixed;
    z-index: 0;
}

img.background{
    height: 100vh;
    width: 80%;
}